/target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/discovery/.mvn/
/discoveryha/.mvn/
/provider1/.mvn/
/consumer/.mvn/
/consumer-without-eureka/.mvn/
/.mvn/
/consumer-with-feign/.mvn/
